<limit GET POST PUT OPTIONS>
    deny from all
    allow from localhost
    allow from 127.0.0.1
    allow from kort.herokuapps.com
    allow from kort-dev.herokuapps.com
</limit>

RewriteEngine On

# Some hosts may require you to use the `RewriteBase` directive.
# If you need to use the `RewriteBase` directive, it should be the
# absolute physical path to the directory that contains this htaccess file.
#
# RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]

