.sass-cache/
/archive/
/nbproject/private/
/node_modules/
/chef/.vagrant
/lib/sencha-touch-2.1.0/
/lib/sencha-touch-2.2.0-alpha/
/lib/touch-2.2.1/
/lib/touch-2.3.0/
/lib/touch-2.3.1/
resources/styles/styles.css
server/php/Webservice/Database/DbConfig.php
build/Kort/production/server/php/Webservice/Database/DbConfig.php
build/production/Kort/server/php/Webservice/Database/DbConfig.php
build/archive/
build/temp/
*.bak
docs/Kort
docs/Kort-backend
docs/Ext.ux.LeafletMap
composer.phar
composer.lock
npm-debug.log
vendor/
bin/
.sencha_backup/
.idea/workspace.xml
.idea/kort.iml
/Icon
data/
.idea/watcherTasks.xml