/.sass-cache/
/.sencha/
/docs/
/nbproject/private/
/node_modules/
_DOCUMENTATION/02_Documentation/kort.pdf
/chef/.vagrant
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lol
*.lot
*.maf
*.mtc
*.mtc1
*.nlo
*.out
*.syg
*.synctex.gz
*.tdo
*.ldb
styles.css
