.sass-cache/
/archive/
/nbproject/private/
/node_modules/
/chef/.vagrant
/lib/sencha-touch-2.1.0/
resources/styles/styles.css
server/php/Webservice/Database/DbConfig.php
build/Kort/production/server/php/Webservice/Database/DbConfig.php
*.bak
docs/Kort
docs/Kort-backend
docs/Ext.ux.LeafletMap
composer.phar
composer.lock
vendor/
bin/
.sencha_backup/
