<?xml version='1.0' encoding='utf-8'?>
<widget id="ch.kort.Kort" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kort</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="kort-dev@googlegroups.com" href="http://kort.ch">
        Kort developers
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
