app.name=Kort

app.framework=touch

#app.classpath=${app.dir}/app.js,${app.dir}/app
app.classpath=${app.dir}/ux,${app.dir}/i18n,${app.dir}/patch,${app.dir}/app.js,${app.dir}/app,${app.dir}/touch/src

# this property specifies a comma separated list of paths containing
# resources to copy to the build directory
app.resource.paths=

app.build.dir=${workspace.build.dir}/${app.name}

app.framework.version=2.3.0

app.cmd.version=4.0.4.84
