// Let's start with the basics
$base-color: #7c92ae;
$base-gradient: 'glossy';

// Lists
$list-active-gradient: 'bevel';
$list-header-bg-color: transparentize(saturate($base-color, 10%), .25);
$list-header-gradient: 'matte';

// Tabs
$tabs-dark: #111;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-list;
@include sencha-list-pullrefresh;
@include sencha-layout;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

// adding pictors
@include pictos-iconmask('list');
@include pictos-iconmask('check_black2');
@include pictos-iconmask('nuclear');
@include pictos-iconmask('add_black');
@include pictos-iconmask('minus_black1');
@include pictos-iconmask('help');

.x-toolbar-light .x-title {
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0 -0.08em 0;
}

.x-button-back .x-button-label {
    color: #fff;
}
