/* -----------------------
   OpenLayers
   ----------------------- */
div.olControlAttribution, div.olControlScaleLine {
	font-family: Arial;
	font-size: 0.6em;
	right: 0.5em;
	bottom: 0.5em;
}