$panel-padding: 0.5em;
$dark-grey: #4B4B4B;
$default-font-size: 0.9em;
$label-background-color: #46578D;

/* -----------------------
   Overlay / About
   ----------------------- */
.overlay-content,
.about-content {
    $logo-size: 300px;
    
    .logo {
        text-align: center;
        
        img {
            width: $logo-size/2;
            height: $logo-size/2;
        }
    }
    .introduction {
        font-size: $default-font-size;
        margin: 1em 0;
        
        p {
            margin-bottom: 0.6em;
        }
    }
}

// Login
#loginPanel {
    ul.kort-description {
        margin-top: 0.5em;
        border-radius: 0.5em;
        padding: 0.5em 0.7em;
        background-color: $dark-grey;
        color: #fff;
        box-shadow: inset 0 0 0.5em #303030;

        li {
            list-style: square;
            margin-left: 2em;
        }
    }
    
    .x-panel-inner {
        padding: 1em;
    }
    
    .loginButtons {
        margin: 0.5em 0;
        
        .x-zocial-button {
            margin: 0.2em 0;
        }
        .x-zocial-button.x-layout-box-item {
            display: list-item !important;
        }
    }
    
    #loginButtonOsm {
        &.zocial.pinboard {
            background-color: #68C03F;
        }
        .x-button-label {
            font-size: 0.9em;
        }
    }
}

// Firststeps
#firststepsPanel {
    .x-panel-inner {
        padding: 1em;
    }
    
    #usernameForm {
        .x-form-inner {
            margin: 0.5em 0;
        }

        .usernameTextfield {
            margin-bottom: 0.4em;
        }
    }
}

// GeolocationError
#geolocationerrorPanel {
    .x-panel-inner {
        padding: 1em;
    }
    
    .x-button {
        margin-top: 0.5em;
    }
    
    .sadsmiley {
        text-align: center;
        font-size: 4em;
    }
}

/* -----------------------
   Map
   ----------------------- */
.popup-content {
    h1 {
        font-size: 1.4em;
        font-weight: bold;
        margin: 0 0 0.3em 0;
    }
    
    p {
        margin: 0 0 0.5em 0;
    }
}

.fixTabPanel {
    .fixContentComponent {
        padding: $panel-padding;
        
        .fix-content {
            text-align: left;

            .textpic {
                overflow: hidden;
                margin: 0.5em 0;

                .image {
                    float: left;
                    width: 40px;
                    height: 40px;

                    .bugtype-image {
                        $bugtype-image-width: 64px;
                        $bugtype-image-height: 74px;
                        width: $bugtype-image-width/2;
                        height: $bugtype-image-height/2;
                    }
                    .koin-image {
                        $koin-image-width: 70px;
                        $koin-image-height: 70px;
                        width: $koin-image-width/2;
                        height: $koin-image-height/2;
                    }
                }
                .content {
                    font-size: $default-font-size;
                    line-height: 1.3em;
                    margin-left: 45px;
                }
            }
        }
    }
    
    .fixFormPanel {
        margin: 0 $panel-padding $panel-padding $panel-padding;
        
        .fixfield,
        .x-button {
            margin-bottom: 0.3em;
        }
        .x-toggle-field {
            font-size: 0.8em;
            margin-bottom: 0.5em;
        }
    }
}

/* -----------------------
   Validation
   ----------------------- */
#validationNavigationView {
    .x-list-header {
        text-shadow: rgba(0, 0, 0, 0.25) 0 0.08em 0;
        color: #fff;
        
        .text {
            font-size: 0.9em;
        }
    }

    .x-list-item {
        .x-list-item-body {
            padding: 0.4em 0.6em;
        }

		&.x-item-pressed .x-list-item-body {
			background: #D8E3EE none;
			border-top: 0.1em solid #aaaaaa;
			box-shadow: inset 0 0 0.5em #abccee;
		}
        
        .validation-item {
            overflow: hidden;
            font-size: $default-font-size;

            .image {
                $image-width: 64px;
                $image-height: 74px;
                float: left;
                margin-right: 0.8em;

                .bugtype-image {
                    width: $image-width/2;
                    height: $image-height/2;
                }
            }
            .content {
                float: left;

                .title {
                    margin-bottom: 0.4em;
                }
                .ratings {
                    font-size: 0.8em;

                    img.thumb {
                        $thumb-width: 20px;
                        $thumb-height: 25px;

                        width: $thumb-width/2;
                        height: $thumb-height/2;
                        margin-left: 0.3em;
                    }

                    .upratings,
                    .downratings {
                        color: $dark-grey;
                        margin: 0 0.3em;
                    }
                }
            } 
            
            .distance {
                float: right;
                text-align: right;
                
                .title {
                    color: $dark-grey;
                    font-size: 0.7em;
                    text-transform: uppercase;
                    margin-bottom: 0.1em;
                }
                .value {
                    font-weight: bold;
                }
            }
        }
    }
}

// PullRefresh Plugin
.x-list-pullrefresh-arrow {
    $arrow-width: 34px;
    $arrow-height: 94px;

    background: center center url('../images/arrow_black.png') no-repeat;
    background-size: $arrow-width/2 $arrow-height/2;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 200ms;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.x-list-pullrefresh {
    top: -4.5em;
    
    .x-loading-spinner {
        font-size: 1.8em;
    }
    
    .x-list-pullrefresh-message {
        font-size: 1.2em;
        margin-bottom: 0.2em;
    }
    .x-list-pullrefresh-updated {
        font-size: 0.9em;
    }
}

/* -----------------------
   Vote
   ----------------------- */
.voteContainer {
    .vote-content {
        padding: $panel-padding $panel-padding 0 $panel-padding;
        
        .question {
            margin: 0.5em 0;
        }
        
        .fixmessage {
            border-radius: 0.5em;
            padding: 0.5em 0.7em;
            background-color: $dark-grey;
            color: #fff;
			box-shadow: inset 0 0 0.5em #303030;
        }
        
        .ratings {
            font-size: 0.8em;
            margin-top: 0.3em;
            img.thumb {
                $thumb-width: 20px;

                width: $thumb-width/2;
                height: auto;
                margin-left: 0.3em;
            }
            
            .upratings,
            .downratings {
                color: #fff;
                margin: 0 0.3em;
            }
            .votesLeft {
                margin-left: 1em;
                
                img {
                    $votes-left-width: 34px;

                    width: $votes-left-width/2;
                    height: auto;
                    margin-right: 0.4em;
                }
            }
        }
    }
    .voteMap {
        min-height: 300px;
    }
    .voteAnswerButton {
        margin: $panel-padding;
        
        .x-badge {
            color: #fff;
        }
    }
}

.voteAnswerActionSheet {
    .answerContent {
        color: white;
        margin-bottom: 0.5em;
    }
    .x-button {
        margin-bottom: 0.3em;
    }
}

/* -----------------------
   Highscore
   ----------------------- */
#highscoreNavigationView {
    .x-list-item-body {
        padding: 0;
    }
    
    .highscore-item {
        overflow: hidden;
        font-size: $default-font-size;
        padding: 0.65em 0.8em;
        box-shadow: inset 0 0 1em #D1D1D1;
        
        .ranking {
            float: left;
            border-radius: 5em;
            padding: 0.4em;
            background-color: #4e6490;
            color: #fff;
        }
        
        &.you .username {
            font-weight: bold;
        }
        &.firstPlace {
            background-color: #fff4b8;
            box-shadow: inset 0 0 1em #A29F6F;
            .ranking {
                background-color: #ffe139;
            }
        }
        &.secondPlace {
            background-color: #d1d1d1;
            box-shadow: inset 0 0 1em #979797;
            .ranking {
                background-color: #7d7d7d;
            }
        }
        &.thirdPlace {
            background-color: #e2c89b;
            box-shadow: inset 0 0 1em #B68768;
            .ranking {
                background-color: #8f6823;
            }
        }
        
        .information {
            float: left;
            margin-left: 0.7em;
            
            .username {
                margin-bottom: 0.3em;
                
                .you {
                    text-transform: uppercase;
                    font-size: 0.6em;
                    padding: 0.2em 0.4em;
                    background-color: $dark-grey;
                    color: #fff;
                    margin-left: 0.5em;
                }
            }
            .fixCount {
                font-size: 0.9em;
                float: left;
                overflow: hidden;
            }
            .voteCount {
                font-size: 0.9em;
                float: left;
                margin-left: 0.5em;
                overflow: hidden;
            }
            .fixCount,
            .voteCount {
                .title {
                    font-size: 0.75em;
                    text-transform: uppercase;
                    color: $dark-grey;
                }
                .value {
                    font-weight: bold;
                }
            }
        }
        
        .koins {
            float: right;
            text-align: right;

            .title {
                color: $dark-grey;
                font-size: 0.7em;
                text-transform: uppercase;
                margin-bottom: 0.1em;
            }
            .value {
                font-weight: bold;
                font-size: 1.1em;
            }
        }
    }
}

/* -----------------------
   Highscore / Profile
   ----------------------- */
.profileContentComponent,
.highscoreUserContentComponent {
    .info {
        padding: $panel-padding;
        overflow: hidden;
    
        .picture {
            $profile-picture-size: 80px;

            border: .1em solid #858585;
            float: left;
            width: $profile-picture-size + 2px;
            height: $profile-picture-size + 2px;
            margin: 0.3em 0.5em 0.5em 0;

            img {
                border: 0.25em solid white;
                width: $profile-picture-size;
                height: $profile-picture-size;
            }
        }
    
        dl.text {
            float: left;
        }
    }
    
    .user-header {
        font-size: 0.9em;
        margin: 0.5em 0;
        text-transform: uppercase;
        
        .x-list-header {
            text-shadow: rgba(0, 0, 0, 0.25) 0 0.08em 0;
            color: #fff;
        }
    }
    .koins,
    .ranking {
        padding: 0.1em $panel-padding;
        clear: both;
        
        .koins-image,
        .ranking-image {
            float: left;
            img {
                $profile-image-size: 60px;
                width: $profile-image-size/2;
                height: $profile-image-size/2;
            }
        }
        .koins-info,
        .ranking-info {
            margin-top: 0.2em;
            
            .value {
                margin: 0 0.3em 0 0.5em;
                font-size: 1.2em;
                font-weight: bold;
            }
            .text {
                text-transform: uppercase;
                font-size: 0.7em;
            }
        }
    }
}

.profileBadgesDataView,
.highscoreUserBadgesDataView {
    padding: $panel-padding;
    
    .badge {
        $badge-image-size: 160px;
        width: $badge-image-size/2;
        margin: 0.2em 0.5em;
        text-align: center;
        overflow: hidden;

        .badge-title {
            font-size: 0.6em;
        }
        img {
            width: $badge-image-size/2;
            height: $badge-image-size/2;
        }
    }
    
    .emptytext {
        font-size: $default-font-size;
    }
}

/* -----------------------
   Profile
   ----------------------- */
.profileBadgesCarousel {
    .carouselitem-content {
        text-align: center;
        padding: $panel-padding;
        
        .badge-recieved {
            font-size: 0.7em;
            margin-bottom: 0.4em;
        }
        h1 {
            font-weight: bold;
            margin-bottom: 0.5em;
        }
        img.badge-image {
            $carousel-badge-image-size: 220px;
            width: $carousel-badge-image-size/2;
            width: $carousel-badge-image-size/2;
        }
        .badge-description {
            font-size: $default-font-size;
            margin: 0.5em 0;
        }
    }
}


/* -----------------------
   About
   ----------------------- */
#aboutContainer {
    $about-dl-title-width: 6em;
    $about-dl-margin-top: 0.3em;
    
    .x-title {
        .version {
            font-size: 0.8em;
        }
    }
    
    .about-content {
        padding: $panel-padding;
        
        dt {
            margin-top: 1.5em;
        }
        dd {
            font-size: 0.8em;
        }
        
        a, a:hover, a:active, a:focus {
            color: #115F9C;
            text-decoration: none;
        }
    }
}

/* -----------------------
   Message Boxes
   ----------------------- */
.bugMessageBox ,
.notificationMessageBox {
    .x-msgbox-text {
        padding: 0.5em;
        
        .messagebox-content {
            text-align: left;

            .text {
                .content {
                    font-size: $default-font-size;
                    
                    h1 {
                        font-weight: bold;
                    }
                    
                    .badges {
                        $badge-image-size: 110px;
                        overflow: hidden;

                        .badge {
                            float: left;
                            width: $badge-image-size/2;
                            margin: 0.2em 0.5em;
                            text-align: center;
                            overflow: hidden;
                            
                            img {
                                width: $badge-image-size/2;
                                height: $badge-image-size/2;
                            }
                        }
                    }
                }
            }

            .textpic {
                overflow: hidden;
                margin: 0.5em 0;

                .image {
                    float: left;
                    width: 40px;
                    height: 40px;

                    .bugtype-image {
                        $bugtype-image-width: 64px;
                        $bugtype-image-height: 74px;
                        width: $bugtype-image-width/2;
                        height: $bugtype-image-height/2;
                    }
                    .koin-image {
                        $koin-image-width: 70px;
                        $koin-image-height: 70px;
                        width: $koin-image-width/2;
                        height: $koin-image-height/2;
                    }
                }
                .content {
                    font-size: $default-font-size;
                    line-height: 1.3em;
                    margin-left: 50px;
                }
            }
        }
    }
}

/* -----------------------
   Global Styles
   ----------------------- */
.x-form .x-scroll-container > .x-inner {
    padding: 0;
}
.overlayLeafletMap {
    z-index: 1500;
}

// titlebar
.x-toolbar .x-title {
    font-size: 1em;
}

// picker
.x-picker-slot .x-picker-item {
    font-size: 0.8em;
}

// TabPanel tabBar
.fixTabPanel,
.voteTabPanel {
    .x-tabbar.x-docked-top {
        height: auto;
        min-height: 1.6em !important;
        font-size: 0.9em;
    }
    .x-tabbar .x-tab {
        -webkit-border-radius: 0;
        border-radius: 0;
        height: auto;
        margin: 0;
        padding: 0.6em 0.8em;
    }
}

.kort-label {
    font-weight: bold;
    background-color: $label-background-color;
    padding: 0.4em 0.6em;
    color: white;
    border-radius: 1em;
    text-shadow: rgba(0, 0, 0, 0.25) 0 0.08em 0;
}

.kort-definitionlist {
    dt {
        font-size: 0.6em;
        margin-top: 0.8em;
        margin-bottom: 0.1em;
        color: $dark-grey;
        text-transform: uppercase;
    }
    dd {
        font-size: $default-font-size;
        margin: 0.2em 0;
    }
}

.kort-title {
    font-weight: bold;
    
    .kort-ort {
        font-size: 0.8em;
    }
}

.emptytext {
    text-align: center;
    margin: 1em 0.5em;
}

.x-form-label span {
    font-size: 1em;
}

.important {
    font-weight: bold;
}